*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header, footer {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

header a, footer li {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    list-style: none;
}

main img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
}
